keypair: "Adarsh"

instance_type: "t2.micro"

region: "us-east-1"

vpc_subnet_id: "subnet-39f67d37"

count_web: "3"

count: "1"

os_name_web: "webserver"

os_name: "loadbalancer"

security_group_lb: "loadbalancer"

security_group_ws: "webserver"

image: "ami-04d29b6f966df1537"


